body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
    padding: 16px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 24px;
    color: #e5e7eb;
    font-size: 18px;
}

a:hover {
    color:#3882f6;
}

.hero, .footer {
    background-color: #1f2937;
    padding: 0 128px;
    padding-bottom: 64px;
}

.hero-header {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
}

.hero-main {
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    padding: 16px;
}
.hero-left {
    display: flex;
    flex-direction: column;
}

.banner-img {
    object-fit: cover;
}

.hero-title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8
}

.hero-secondary-text {
    font-size: 18px;
    color: #e5e7eb
}

.learn-more-button {
    background-color: #3882f6;
    color: #f9faf8;
    border: 4px solid #f9faf8;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    padding: 8px 32px;
    font-weight: bold;
    font-size: 18px;
}

.learn-more-button:hover {
    background-color: #f9faf8;
    color: #3882f6;
}

.info-head-text {
    display: flex;
    padding: 16px;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    justify-content: center;
}

.info-containers {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 64px;
    padding: 0 256px;
}
.info-text {
    color: #1f2937;
    display: flex;
    flex-grow: 0;
    max-width: 50%;
    text-align: center;
}

.info-img {
    border: 4px solid #3882f6;
    border-radius: 16px;
}

.info-img:hover {
    border: 4px solid #e5e7eb;
    border-radius: 16px;
}

.info-card {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: auto;
    align-items: center;

}

.information {
    padding: 0 128px;
    margin-bottom: 64px;
}

.quote {
    background: #e5e7eb;
    padding: 64px 128px;
}

.quote-text {
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
    color: #1f2937;
    display: flex;
    justify-content: center;
}

.quote-author {
    display: flex;
    font-size: 18px;
    font-weight: bold;
    color: #1f2937;
    justify-content: flex-end;
}

.hero-bottom {
    display: flex;
    margin: 64px 128px;
    padding: 32px;
    background:#3882f6;
    border-radius: 16px;
    justify-content: space-between;
}

.bottom-text {
    color:#e5e7eb;
}

.bottom-title {
    font-size: 24px;
    font-weight: bold;
}

.bottom-button {
    display: flex;
    background-color: #3882f6;
    color: #f9faf8;
    border: 2px solid white;
    border-radius: 8px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    padding: 16px;
    font-weight: bold;
    font-size: 18px;
    margin: 10px auto;
}

.bottom-button:hover {
    background-color: #f9faf8;
    color: #3882f6;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;
}

.footer-text {
    color:#e5e7eb;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

